@use '../util' as *;

.overlay {
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: var(--tverydarkgray);
}

.header {
    display: flex;
    background-color: aquamarine;
    padding-top: rem(45);

    @include breakpoint(medium){
        padding-top: rem(60);

    }
    .navigation {
        display: flex;
        align-items: center;
        position: relative;
    }

    &__logo {
        // position: absolute;
        // left: 50%;
        // top: 50%;
        // transform: translateX(-50%);
        
        @include breakpoint(medium) {
            margin-right: rem(54);
        }
    }

    &__links {
        ul {
            overflow: hidden;

            li {
                float: left;

                a {
                    display: block;
                    position: relative;
                    font-size: rem(17);
                    color: var(--white);
                    margin-right: rem(30);
                    padding: rem(12) 0;

                    &:before {
                        content: "";
                        position: absolute;
                        left: rem(7);
                        bottom: 0;
                        width: 70%;
                        border-bottom: 2px solid var(--white);
                        transition: all 200ms ease-in-out;
                        opacity: 0;
                    }

                    &:hover:before {
                        opacity: 1;
                    }
                }
            }
        }
    }

    &__toggle {
        >span {
            display: block;
            width: rem(26);
            height: rem(2);
            background-color: var(--white);
            transition: all 300ms ease-in-out;
            transform-origin: rem(3) rem(1);

            &:not(:last-child) {
                margin-bottom: rem(5);
            }
        }

    }


    &__menu {
        // background-color: var(--white);
        
        ul {
            // overflow: hidden;
            display: flex;
            justify-content: space-between;
            li {
                // float: right;

                a {
                    display: inline-block;
                    position: relative;
                    font-size: rem(17);
                    color: var(--black);
                    // margin-right: rem(30);
                    padding: rem(12) 0;
                }
            }
        }
    }

    // Hamburgur open styles
    &.open {
        .header {
            background-color: var(--white);
        }
        .header__toggle {
            span {
                color: var(--darkgray);
            }

            >span:first-child {
                transform: rotate(45deg);
            }

            >span:nth-child(2) {
                opacity: 0;
            }

            >span:last-child {
                transform: rotate(-45deg);
            }
        }
    }

}